<ion-content>
  <div class="custom-content">
    <div class="header-bar">
      <div class="page-heading">
        <h1>Personas</h1>
        <ion-icon ios="information-circle-outline" md="information-circle-outline"></ion-icon>
      </div>
      <ion-button routerLink="/area/personas/edit" color="secondary" class="main-action-button" shape="round">Create Persona</ion-button>
    </div>

    <ion-grid class="persona-list">
      <ion-row>
        <ion-col *ngFor="let persona of personas">
          <app-persona-card [persona]="persona"></app-persona-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

