.icon-card {
  min-width: 40px;
  min-height: 40px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  ion-icon {
    width: 28px;
    height: 28px;
  }
}
