<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-menu-toggle class="sidebar-wrapper" auto-hide="false">
                    <div class="sidebar-top-wrapper">
                        <ion-img class="logo" src="../assets/logo/Logo.svg">UTU</ion-img>
                        <div class="project-selection-wrapper">
                            <mat-form-field appearance="fill" class="project-selection">
                                <mat-label>Project</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let p of projects" [value]="p.title">
                                        {{ p.title }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <ion-list id="project-specific-list">
                            <ion-item *ngFor="let p of appPages" [routerLink]="p.url" detail="false" lines="none" routerLinkActive="is-active">
                                <ion-icon [ios]="p.icon" [md]="p.icon" slot="start"></ion-icon>
                                <ion-label>{{ p.title }}</ion-label>
                            </ion-item>
                        </ion-list>
                    </div>
                    <ion-list class="sidebar-bottom-wrapper" id="overall-specific-list">
                        <ion-item routerLink="knowhow" detail="false" lines="none" routerLinkActive="is-active">
                            <ion-icon ios="trail-sign-outline" md="trail-sign-outline" slot="start"></ion-icon>
                            <ion-label>Know-How</ion-label>
                        </ion-item>
                        <ion-item routerLink="settings" detail="false" lines="none" routerLinkActive="is-active">
                            <ion-icon ios="settings-outline" md="settings-outline" slot="start"></ion-icon>
                            <ion-label>Settings</ion-label>
                        </ion-item>
                        <ion-item routerLink="profile" detail="false" lines="none" routerLinkActive="is-active">
                            <ion-icon ios="person-outline" md="person-outline" slot="start"></ion-icon>
                            <ion-label>Max Mustermann</ion-label>
                        </ion-item>
                    </ion-list>

                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
